<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>




Cancal Url: <%= @linkscape.data[:url] %>


<p>The CONGRATS U HAVE IT</p>

Title: <%= @linkscape.data[:ut] %>
<br>

Page Author: <%= @linkscape.data[:page_authority] %>

<p>A normalized 100-point score representing the likelihood of a page to rank well in search engine results</p>

domain_authority: <%= @linkscape.data[:domain_authority] %>

<p>A normalized 100-point score representing the likelihood of a page to rank well in search engine results</p>
