
<div class="container">
    <div class="row">
           <div id="custom-search-input">
                    <%= form_for @user, :remote => true do |f| %>

                            <div class="input-group col-md-12">
                                <%= f.search_field :website, placeholder: 'Analyze a site', class: "search-query form-control" %>                                
                                <span class="input-group-btn">
                                <%= f.submit "Submit", class: "btn btn-danger" %>

                                        <span class=" glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                        </div>
    </div>
</div>
<% end %> 




        