
<div class="container" style="margin-top: 50px;">

	<div class="row text-center">
		<p class="eclogotext">SEO Tool Made With Love by:</p>
	</div>

	<div class="row text-center">
		<img id="logo" src="<%=image_path("el-classificado-logo.png") %>"></img>
	</div>

	<div  class="row text-center">
		<div class="col-sm-4 col-sm-offset-4">
			<%= form_for @user, class:"form-signin" do |f| %>
				<div class="form-group">
					<%= f.search_field :website, placeholder: 'Analyze a site', class: "form-control text-center stuff", size:"55" %>
				</div>  
				<%= f.submit "Submit", class: "btn btn-danger stuff" %>
			<% end %>
		</div> 
	</div>
		
	

</div>

<script>

	$(document).ready(
		$('.btn').click(function(){
			 $('.stuff').hide();
			 $('.stuff').hide();
			 $('#circular').show();

		})
	);
</script>