

<div id = "huge-div">
<div class="container">
    <div class="row">
           <div id="custom-search-input">
                    <%= form_for @user do |f| %>

                            <div class="input-group col-md-12">
                                <%= f.search_field :website, placeholder: 'Analyze a site', class: "search-query form-control" %>                                
                                <span class="input-group-btn">
                                <%= f.submit "Submit", class: "btn btn-danger" %>

                                        <span class=" glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                        </div>
    </div>
</div>
 

    <div class = "eclogo">
<h2 id = "eclogotext">SEO Tool made with love by</h2>

<img src = <%=image_path("el-classificado-logo.png") %> > </img>

</div>
</div>
<% end %> 
