*{
	font-family: "Lato", sans-serif;
}

body{
	background-image: url("cream_pixels.png")
}



#eclogotext{
	font-size: 14px;	
}

#logo {
    padding-left: 50px;
}

#logoindex{
    height:75px;
    width:auto;
}




