// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	font-family: "Lato", sans-serif;
}

body{
	background-image: url("cream_pixels.png")
}


#eclogotext{
	font-size: 14px;	
}



#logo {
    padding-left: 50px;
}